Source: ros-melodic-qt-paramedit
Section: misc
Priority: optional
Maintainer: Christian Dornhege <c.dornhege@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libqt5core5a, libqt5gui5, libqt5widgets5, libqt5xml5, qtbase5-dev, ros-melodic-catkin, ros-melodic-roscpp
Homepage: http://ros.org/wiki/qt_paramedit
Standards-Version: 3.9.2

Package: ros-melodic-qt-paramedit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5widgets5, libqt5xml5, qtbase5-dev, ros-melodic-roscpp
Description: A GUI application for viewing and editing ROS parameters.
